<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Login</title>
    <script src="https://kit.fontawesome.com/3c45431b42.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <div class="container">
        <h1>Login</h1>
        <form method="POST" action="/login">
            <label for="email">Email</label>
            <input type="text" id="Email">
            <label for="password">Password</label>
            <input type="password" id="password">
            <input type="submit" value="Submit">
            <p>Don't have an account? Register <a href="{{url_for('register')}}">Here</a></p>
        </form>
    </div>
</body>
</html>